# /etc/systemd/system/auto_install.service
[Unit]
Description=Auto Install BAT_ECU from /tmp/deb_work.deb
After=network.target systemd-udevd.service local-fs.target
Wants=network.target


[Service]
Type=oneshot
ExecStart=/opt/auto_install.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal
TimeoutStartSec=300

User=root
Group=root
WorkingDirectory=/opt
Environment=LD_LIBRARY_PATH=/opt/xcharge/lib
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/xcharge/scripts

[Install]
WantedBy=multi-user.target